body {
	background: #FFF;
	font-size: 14px;

}

a {
	color: #000;
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

img {
	vertical-align: top;
}

.mui-content {
	background: #FFF;
}

.footer,
.header {
	background: #006699;
	/* color: #fff !important; */

}

.mui-title {
	color: #fff;
}

.mui-icon-search {
	color: #fff;
}


.footer a.mui-tab-item {
	color: #fff;
}

.footer a.mui-active {
	color: orange !important;
}